main {
    padding: 36px;

}

.text-container{
    display: flex;
    justify-content: space-between;
}

.form-input{
    font-family: "Karla", sans-serif;
    font-size: 2rem;
    margin: 0.75em 1.5em;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    width: 40%;
}
.form-button{
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    font-size: 2rem;
    width: 100%;
    padding: 0.5em;
    color: white;
    border: none;
    cursor: pointer;
}